{{! Inherit from main layout }}
{{!< layouts/main }}

<section class="team">
  <div class="center">
    <h1>Our Team</h1>
  </div>
  <div class="team-content">
    <div class="box">
          <img src="assets/download (27).jpg" alt="assets/" />
          <h3>Kwak</h3>
          <h5>Artist</h5>
          <div class="icons-team">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
          </div>
        </div>
        <div class="box">
          <img src="assets/download (27).jpg" alt="" />
          <h3>Kwik</h3>
          <h5>Artist</h5>
          <div class="icons-team">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
          </div>
        </div>
        <div class="box">
          <img src="assets/download (27).jpg" alt="assets/" />
          <h3>Kwuk</h3>
          <h5>Artist</h5>
          <div class="icons-team">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
          </div>
        </div>
        <div class="box">
          <img src="assets/download (27).jpg" alt="" />
          <h3>Kwek</h3>
          <h5>Artist</h5>
          <div class="icons-team">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
          </div>
        </div>
        <div class="box">
          <img src="assets/download (27).jpg" alt="assets/" />
          <h3>Kwok</h3>
          <h5>Artist</h5>
          <div class="icons-team">
            <a href="#"><i class="ri-instagram-line"></i></a>
            <a href="#"><i class="ri-youtube-line"></i></a>
            <a href="#"><i class="ri-facebook-line"></i></a>
          </div>
  </div>
</section>