{{! Inherit from main layout }}
{{!< layouts/main }}

<section class="hero">
  <div class="hero-text">
    <h5>#1 Trending</h5>
    <h4>Lead Supercell</h4>
    <h1>GOBLINS</h1>
    <p>
      Join millions of players worldwide as you build your village,
      <br />
      raise a clan and compete in epic Clan Wars!
    </p>
    <a href="#">Compare</a>
    <a class="ctaa" href="#"><i class="ri-play-fill"></i>Watch Gameplay</a>
  </div>
  <div class="hero-img">
    <img src="/assets/pngimg.com - goblin_PNG11.png" alt="" />
  </div>
</section>

<div class="scroll-down">
  <a href="#"><i class="ri-arrow-down-s-fill"></i></a>
</div>